/* 把所有的内外边距先清0 */

* {
    margin: 0;
    padding: 0
}


/* 所有文字不倾斜 */

em,
i {
    font-style: normal
}


/* 去掉所有li的原点 */

li {
    list-style: none
}

img {
    /* 中古低版本浏览器 如果图片外面包含了链接会有边框的问题 */
    border: 0;
    vertical-align: middle
}


/* 当鼠标经过button（按钮）按钮时 变成小手 */

button {
    cursor: pointer
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #c81623
}

button,
input {
    /* "\5B8B\4F53"意思是宋体 这样写兼容性更好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

body {
    /* 抗锯齿性 让文字更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666
}

.hide,
.none {
    display: none
}


/* 清除浮动 */

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}